@page
@model Opex.Pages.OfficeMember.EditModel
<input type="hidden" id="selectedTab" value="payment" />
<div class="tab-content">
    <div class="tab-pane" id="payment">
        <div class="col-sm-10 col-sm-offset-1 " style="margin-top:25px">
            <div class="row">
                <h4 class="mb-3 text-center">ارزیابی توان مالی و بازرگانی</h4>
                
                <label for="address">1- مشخصات مدیریتی و نیروی انسانی</label>
                <span>(مشخصات اعضاء هیئت‌مدیره و مدیران شرکت)</span>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="TblOfficeMember.MemberId" />
                    <input type="hidden" asp-for="TblOfficeMember.Name" />    
                    <input type="hidden" asp-for="TblOfficeMember.BusinessName" /> 
                    <input type="hidden" asp-for="TblOfficeMember.CodeYekta" />
                    <input type="hidden" asp-for="TblOfficeMember.CompanyRegisterPlace" /> 
                    <input type="hidden" asp-for="TblOfficeMember.Email" />    
                    <input type="hidden" asp-for="TblOfficeMember.SystemCode" /> 
                    <div class="row ">
                        <div class="col-md-4 mb-3 ">
                            <label for="validationCustom04 ">  سمت: </label>
                            <select asp-for="TblOfficeMember.Role" class="form-control">
                                <option selected></option>
                                <option value="رئیس هیات مدیره">رئیس هیات مدیره</option>
                                <option value="عضو هیات مدیره">عضو هیات مدیره</option>
                            </select>
                            <div class="invalid-feedback">  @Html.ValidationMessageFor(Model => Model.TblOfficeMember.Role, "", new { @class = "text-danger" })</div>

                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom04">نام و نام خانوادگی</label>
                            <input type="text" asp-for="TblOfficeMember.Lname" class="form-control" />
                            <div class="invalid-feedback">
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="cc-expiration">نام پدر:</label>
                            <input asp-for="TblOfficeMember.FatherName" class="form-control" />
                            <span asp-validation-for="TblOfficeMember.FatherName" class="text-danger"></span>

                            <div class="invalid-feedback"> </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">شماره شناسنامه:</label>
                            <input asp-for="TblOfficeMember.ShShenasnameh" class="form-control" />
                            <span asp-validation-for="TblOfficeMember.ShShenasnameh" class="text-danger"></span>

                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom04">کدملی</label>
                            <input type="text" asp-for="TblOfficeMember.ShMelli" class="form-control" />
                            <div class="invalid-feedback">
                                @Html.ValidationMessageFor(Model => Model.TblOfficeMember.ShMelli, "", new { @class = "text-danger" })
                                @if (ViewData["Error"] != null)
                                {<div class="alert-danger"> @ViewData["Error"] </div>}
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom04">تحصیلات</label>
                            <input type="text" asp-for="TblOfficeMember.DReshte" class="form-control" />
                            <div class="invalid-feedback">
                                درجه
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom04">.</label>
                            <input type="text" asp-for="TblOfficeMember.Reshteh" class="form-control" />
                            رشته
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom04">تاریخ اخذ مدرک</label>
                            <input type="text" asp-for="TblOfficeMember.LicenceDate" class="form-control" />
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">  شماره موبایل: </label>
                            <input asp-for="TblOfficeMember.mobile" class="form-control" />
                            <span asp-validation-for="TblOfficeMember.mobile" class="text-danger"></span>

                        </div>


                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">شماره تلفن دفتر مرکزی</label>
                            <input asp-for="TblOfficeMember.CenterOfficeTell" class="form-control" />
                            <span asp-validation-for="TblOfficeMember.CenterOfficeTell" class="text-danger"></span>

                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">شماره فکس واحد تولیدی:</label>
                            <input asp-for="TblOfficeMember.ProductiveUnitTell" class="form-control" />
                            <span asp-validation-for="TblOfficeMember.ProductiveUnitTell" class="text-danger"></span>

                        </div>
                        <div class="col-md-7 mb-3">
                            <label for="validationCustom04">سابقه کار مرتبط با فعالیت‌های شرکت</label>
                            <input type="text" asp-for="TblOfficeMember.WorkeFlow" class="form-control" />
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="cc-expiration">آدرس پستی</label>
                            <input asp-for="TblOfficeMember.PostAddress" class="form-control" />
                            <span asp-validation-for="TblOfficeMember.PostAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="col-md-12 mb-3">
                        <div class="col-md-4 mb-3">
                            <label for="cc-expiration">نام واحد تولیدی:</label>
                            <input asp-for="TblOfficeMember.CenterOfficeName" class="form-control" />
                            <span asp-validation-for="TblOfficeMember.CenterOfficeName" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="cc-expiration">کد پستی</label>
                            <input asp-for="TblOfficeMember.PostCode" class="form-control" />
                            <span asp-validation-for="TblOfficeMember.PostCode" class="text-danger"></span>

                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="cc-expiration">آدرس وب‌سایت:</label>
                            <input asp-for="TblOfficeMember.WebAddress" class="form-control" />
                            <span asp-validation-for="TblOfficeMember.WebAddress" class="text-danger"></span>


                        </div>
                        <hr class="mb-4">
                        <div class="col-md-4 mb-3">
                            <label for="cc-expiration">نام و نام خانوادگی رابط: </label>
                            <input asp-for="TblOfficeMember.ConnectorName" class="form-control" />
                            <span asp-validation-for="TblOfficeMember.ConnectorName" class="text-danger"></span>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="cc-expiration">شماره موبایل رابط:</label>
                            <input asp-for="TblOfficeMember.ConnectorPhone" class="form-control" />
                            <span asp-validation-for="TblOfficeMember.ConnectorPhone" class="text-danger"></span>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="col-md-12 mb-3">
                                <br />
                                <input type="submit" value="ذخیره" class="btn  btn-primary btn-sm pull-right" />&nbsp;| &nbsp;<a asp-page="../FinancialBalance/Index">بازگشت</a>

                            </div>
                        </div>
                    </div>


                </form>
                <hr />
            </div>
        </div>
    </div>
</div>

@section Footer{
    <div class="wizard-footer">
        <div class="clearfix"></div>
    </div>

}
@section Scripts{
    <!--   Core JS Files   -->
    <script src="/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>
    <script src="/js/register.js" type="text/javascript"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!--  Plugin for the Wizard -->
    <script src=" /js/demo.js" type="text/javascript"></script>
    <script src=" /js/paper-bootstrap-wizard.js" type="text/javascript"></script>

    <!--  More information about jquery.validate here: https://jqueryvalidation.org/	 -->
    <script src=" /js/jquery.validate.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            var first = $('#selectedTab').val();
            var mid = $('#selectedTab').val();
            if (first == "rquest-type") {
                $('#wizard').bootstrapWizard('show', 1);
            }
            else {
                $('#wizard').bootstrapWizard('show', 0);
            }
            switch (mid) {
                case "type":
                    $('#wizard').bootstrapWizard('show', 0);
                    break;

                case "facilities":
                    $('#wizard').bootstrapWizard('show', 1);
                    break;
                case "payment":
                    $('#wizard').bootstrapWizard('show', 2);
                    break;
                case "question":
                    $('#wizard').bootstrapWizard('show', 3);
                    break;
                case "upload":
                    $('#wizard').bootstrapWizard('show', 4);
                    break;
                case "description":
                    $('#wizard').bootstrapWizard('show', 5);
                    break;
                case "Verify1":
                    $('#wizard').bootstrapWizard('show', 6);
                    break;

            }

        });
    </script>
}  